<div class="card-header"></div>
<div class="card bg-dark text-white mb-1">
  <div class="card-body">
    <form [formGroup]="addContactForm" (ngSubmit)="submit(addContactForm)">

      <div>
        <label for="name">Name: </label>
        <input type="text" formControlName="name" class="form-control" placeholder="Enter name" />
        <!--<i *ngIf="!addContactForm.get('name').hasError('required')" class="fa fa-check"></i>-->
        <div *ngIf="addContactForm.get('name').hasError('minlength')" class="errors"> Name must be at least 2 characters
          long</div>
      </div>

      <div>
        <label for="surname">Surname: </label>
        <input type="text" formControlName="surname" class="form-control" placeholder="Enter surname">
        <!--<i *ngIf="!addContactForm.get('surname').hasError('minlength')" class="fa fa-check"></i>-->
        <div *ngIf="addContactForm.get('surname').hasError('minlength')" class="errors"> Surname must be at least 2
          characters long</div>
      </div>

      <div>
        <label for="phoneNumber">Phone: </label>
        <input type="text" formControlName="phoneNumber" class="form-control" placeholder="Enter phone">
        <!--<i *ngIf="!addContactForm.get('phoneNumber').hasError('minlength')"class="fa fa-check"></i>-->
        <div *ngIf="addContactForm.get('phoneNumber').hasError('minlength')" class="errors"> Phone must be at least 10
          numbers long</div>
      </div>

      <div>
        <label for="email">Email: </label>
        <input type="text" formControlName="email" class="form-control" placeholder="Enter email">
        <!--<i *ngIf="!addContactForm.get('email').hasError('email')" class="fa fa-check"></i>-->
        <div *ngIf="addContactForm.get('email').hasError('email')" class="errors"> Email invalid </div>
      </div>

      <div>
        <label for="birtdDate">Birth Date: </label>
        <input type="text" formControlName="birthDate" class="form-control" placeholder="Enter birth date">
        <!--<i *ngIf="!addContactForm.get('email').hasError('email')" class="fa fa-check"></i>-->
        <div *ngIf="addContactForm.get('birthDate').hasError('minlength')" class="errors"> Respect this format:
          dd/mm/yyyy </div>
      </div>

      <div>
        <label for="favorite">Favorite contact? </label>
        <input type="checkbox" formControlName="favorite" value="true" class="checkbox"/>
     </div>


      <p>
        Form Status: {{addContactForm.status}}
        <i *ngIf="!addContactForm.invalid" class="fa fa-check"></i>
      </p>

      <button type="submit" class="btn btn-info form-control" [disabled]="addContactForm.invalid">ADD</button>
    </form>
  </div>
</div>
